<<<<<<< HEAD
bienvenido al juego raya y punto
<form method="post" action="/mostrarUserName">
    <input type='submit' value='Iniciar Partida'>
=======
bienvenido a Timbiriche
<form method="get" action="/mostrarUserName">
    <input type='submit' value='Iniciar'>
>>>>>>> origin/master
</form>