
<h1>seleciona la cantidad de jugadores</h1>

<form method="post" action="/redirecionCantidad">
    
      
  <input type='submit' name='selection' value='2'>
  <input type='submit' name='selection' value='3'>
  <br><br><br><br>
</form>