<style>
  table,th,td{
  border-collapse: collapse;
  position : relative;
  top: 10%

  }

  h1{
    
    position : relative;
    bottom: 69px;
    left: -6px; 

  
  }



</style>

<table style align="center" width= "50%" height="50%";>

  <tr>
    <th style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;"><h1 style align = "left">.</h1></th>
    <th style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;"><h1 style align = "left">.</h1></th>
    <th style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;"><h1 style align = "left">.</h1></th>
    <th ><h1 style align = "left">.</h1></th>
    <th ><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
</table>