<style>
table,th,td{
  border-collapse: collapse;
  
}

</style>

Timbiriche

<h5>Primer Jugador:</h5>
<p><%= @primerNombre %></p>

<h5>Segundo Jugador:</h5>
<p><%= @segundoNombre %></p>

<table style align="center" width= "50%" height="50%";>

  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
</table>