<style>
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  
}

</style>

<table style align="center" width= "50%" height="50%";>

  <tr>
    <th > </th>
    <th style="border-top: solid;border-bottom: solid;border-right:solid; border-left:solid;">0</th> 
    <th>1</th>
    <th>2</th>
  </tr>
  <tr>
    <td>0</td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>1</td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>2</td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
</table>