<style>
  table,th,td{
    border-collapse: collapse;
    position : relative;
    top: 10%
  }

  #tabla {
    align="center" 
    width= "50%" 
    height="50%"
  }

  h1{
    position : relative;
    bottom: 31px;
    left: -6px; 
  }

  table.border-top:hover{
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  .topBorder:hover{
  border-top: solid;
  backgroud-color : blue;
  transition: banckgroud-color .5s;
  }

  .visible {
    visibility: visible;
  }

  .escondido {
    visibility: hidden;
  }
</style>

Boxes and Dots

<%  if @jugador1.turno() %>
  <h3 class= "visible">Es turno de:</h3>
  <% else %>
  <h3 class= "escondido">Es turno de:</h3>
<% end %>
<h5>Primer Jugador:</h5>
<p><%= @jugador1.nombre() %></p>

<%  if @jugador2.turno() %>
  <h3 class= "visible">Es turno de:</h3>
  <% else %>
  <h3 class= "escondido">Es turno de:</h3>
<% end %>
<h5>Segundo Jugador:</h5>
<p><%= @jugador2.nombre() %></p>

<form action="/cambioTurno" method="get">
  <input type="submit" value="siguiente turno">
</form>

<table id="tabla" name="tabla">

  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
</table>