<style>
table,th,td{
  border-collapse: collapse;
  
}

</style>

<table style align="center" width= "50%" height="50%";>

  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
  <tr>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
    <th><h1>.</h1></th>
  </tr>
</table>