<style>
  table,th,td{
  border-collapse: collapse;
  position : relative;
  top: 10%

  }

  h1{
    
    position : relative;
    bottom: 31px;
    left: -6px; 

  
  }

  table.border-top:hover{
    backgroud-color : blue;
    transition: banckgroud-color .5s;
  }

  
  .topBorder:hover{

 
  border-top: solid;
  backgroud-color : blue;
  transition: banckgroud-color .5s;
  }
  





</style>


<table style align="center" width= "50%" height="50%";>

  <tr>
    <th class="topBorder"><h1 style align = "left">.</h1></th>
    <th class="topBorder" ><h1 style align = "left">.</h1></th>
    <th class="topBorder"><h1 style align = "left">.</h1></th>
    <th class="topBorder"><h1 style align = "left">.</h1></th>
    <th class="topBorder"><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
  <tr>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
    <th><h1 style align = "left">.</h1></th>
  </tr>
</table>