nuevo usuario
<form method="post" action="/mostrarTablaVacia">
    <label>Ingrese su nombre:</label>
    <input type='text' name='first_user_name' id='first_user_name'>
    <label>Ingrese su nombre:</label>
    <input type='text' name='second_user_name' id='second_user_name'>
    <input type='submit' value='Iniciar Partida'>
</form>